<style type="text/css">
  input[type=number] {
    float: left;
    font-family: Lato;
    font-weight: 700;
    width: 150px !important;
    margin-right: 3px !important;
    font-size: 2em !important;
    text-transform: uppercase;
    text-align: center;
    color: #93504C;
    border: 2px #93504C solid;
  }
</style>
<div class="product-showcase">
  <div class="product-showcase-pattern">
    <div class="container">
      <div class="row" style="padding-left: 5%;">
        <div id="auction_arena">
          <%= render 'auction_arena', current_player: @current_player,
                                      current_auction_player: @current_auction_player,
                                      highest_bid: @highest_bid,
                                      user: current_user %>
        </div>
      </div>
    </div>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  </div>
</div>
