<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top navbar-transparent  bg-primary  navbar-absolute">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a class="navbar-brand" href="#pablo">PLAYER LIST</a>
    </div>
  </div>
</nav>
<!-- End Navbar -->
<div class="panel-header panel-header-sm">
</div>
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <% if current_user.team_owner? %>
          <%= render 'users/my_team', players: @auction_players, team_name: 'My Team' %>
        <% elsif current_user.admin? %>
          <% @auction_players.group_by(&:bought_by).each do |auction_team_id, players| %>
          	<%= render 'users/my_team', players: players, team_name: AuctionTeam.find(auction_team_id).team.name %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
